---
- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Configure Nginx reverse proxy
  copy:
    dest: /etc/nginx/sites-available/mern
    content: |
      server {
        listen 80;
        server_name _;
        location / {
          proxy_pass http://localhost:5000;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection 'upgrade';
          proxy_set_header Host $host;
          proxy_cache_bypass $http_upgrade;
        }
      }

- name: Enable site
  file:
    src: /etc/nginx/sites-available/mern
    dest: /etc/nginx/sites-enabled/mern
    state: link

- name: Restart Nginx
  service:
    name: nginx
    state: restarted
